<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.pyneo.android.gui" android:versionCode="1" android:versionName="1.0" >
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Sample" android:icon="@drawable/ic_launcher" android:allowBackup="false" >
		<activity
			android:label="Sample"
			android:name="Sample"
			android:alwaysRetainTaskState="true"
			android:configChanges="keyboardHidden|orientation"
			android:launchMode="singleTask"
			>
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT"/>
				<action android:name="TAKE"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
