<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.emdete.android.gui" android:versionCode="1" android:versionName="1.0" >
	<uses-feature android:name="android.hardware.consumerir" android:required="true"/>
	<uses-permission android:name="android.permission.TRANSMIT_IR" />
	<application android:label="Sample" android:icon="@drawable/ic_launcher" android:allowBackup="false" >
		<activity android:label="Sample" android:name="Sample" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
